#################
## Eclipse
#################
.metadata
bin/
tmp/

#################
## Web
#################
work/
/web.xml

#################
## ENdoSnipe
#################
/collector.properties